
@model IEnumerable<SIS.Models.Students>

@{
    ViewData["Title"] = "General Information";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SIS AMASYA</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-area="" asp-controller="Home" asp-action="Index">SIS AMASYA</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Student Information System</div>
                        <a class="nav-link" asp-area="" asp-controller="General" asp-action="ExamResult">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Exam Results
                        </a>
                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Students
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            General Operations
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="PersonalInformation">Personal Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="GeneralInformation">General Information </a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="AcademicCalendar">Academic calendar</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="ConsultantInfo">Consultant Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="LessonTaken">Lessons Taken</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="ExamSchedule">Exam Schedule</a>
                                <a class="nav-link" asp-area="" asp-controller="Home"    asp-action="Index">Syllabus <!--Mufredat--></a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="IntershipInfo">Internship Information</a>
                                <a class="nav-link" asp-area="" asp-controller="General" asp-action="YOKSIS">YOKSIS Transactions </a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCourse" aria-expanded="false" aria-controls="collapseCourse">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Course and Term Procedures
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseCourse" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">Drop and Add Courses</a>
                                <a class="nav-link" href="#">Transcript</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Register</a>
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Forgot Password</a>
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" asp-area="" asp-controller="General" asp-action="Charts">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"></div>
                    SIS AMASYA
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                    <h2> List of Students</h2>
                    <table border="1" class="table table-bordered table-responsive w-100">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StudentNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegistrationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdentificationNumber)
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BirthDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdentificationNumber)
                                    </td>
                                    <td class="btn-group-sm">
                                        <a asp-controller="Students" asp-action="Index" class="btn btn-primary btn-sm m-1" asp-route-id="@item.Id">Edit</a>
                                        <a asp-controller="Students" asp-action="Index" class="btn btn-primary btn-sm m-1" asp-route-id="@item.Id">Details</a>
                                        <a asp-controller="Students" asp-action="Index" class="btn btn-danger btn-sm m-1" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>